# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../:\Users\varga\Google Drive\Hollandia\Groningen\School\Courses\2A\Deep Learning\PROJECTS\Project_1\GITHUB\DL-CNN\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
